@model IList<string>

@{
  ViewBag.Title = "Estatísticas - TCCSharpRecSys";
}


<div class="col-sm-offset-4 col-sm-4">
  <select class="form-control" id="config">
    @foreach (var config in Model)
    {
      <option value="@config">@config</option>
    }
  </select>
</div>
<canvas id="histogram" style="display: none"></canvas>


<script>
  (function () {

    function montarGrafico(idNaDom, dados) {
      var ctx = idNaDom;
      var chart = new Chart(ctx, {
        type: 'bar',
        data: {
          labels: dados.map(function (d) { return d.Key; }),
          datasets: [{
            label: 'Histograma',
            data: dados.map(function (d) { return d.Value; })
          }]
        },
      })
    }

    $().ready(function () {

      $('#config').change(function () {
        var $this = $(this);
        $this.prop('disabled', true);
        $.ajax({
          url: '@Url.Action("GetEstatisticas")',
          data: {
            config: $(this).val()
          },
          type: 'GET'
        }).done(function (data) {
          $('#histogram').show();
          montarGrafico('histogram', data.histogram);
          $this.prop('disabled', false);          
        }).error(function (data) {

          $this.prop('disabled', false);
        })
      })
    })




  })();



</script>