@{
  ViewBag.Title = "TCCSharpRecSys";
}

<div class="jumbotron">
  <h1>TCCSharpRecSys</h1>
  <p class="lead">Esta aplicação tem por objetivo complementar o trabalho de conclusão de curso desenvolvido por Luís Gabriel de Andrade</p>
</div>

<div class="row">
  <div class="col-md-6 text-center">
    <p><a class="btn btn-lg btn-default" href="@Url.Action("Estatisticas")">Estatísticas</a></p>
  </div>
  <div class="col-md-6 text-center">
    <p><a class="btn btn-lg btn-default" href="@Url.Action("Som")">Rótulos dos Mapas Auto-Organizáveis</a></p>
  </div>
</div>